@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-color: #fffae2;
  --text-color: #222;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* background-color: var(--bg-color); */
  color: var(--text-color);
}

.dark {
  --bg-color: #18181b;
  --text-color: #e5e7eb;
}

body.dark {
  /* background-color: var(--bg-color); */
  color: var(--text-color);
}
